*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
html,body{
    height:100%;
}
img{
    max-width: 100%;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.cistac{
    clear:both;
}
#naslovna{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("../images/pozadina2.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    position: relative;
    text-align: center;
}
#hnav{
    padding:20px;
    background-color: rgba(0,0,0,0.5);
    text-align: right;
}
#hnav ul li{
    display: inline-block;
    padding:10px 20px;
}
#hnav ul li a{
    font-size:20px;
    color:silver;
    transition: .5s;
}
#hnav ul li a:hover{
    color:#fff;
}
#ime{
    color: #fff;
    /*margin-top: 300px;*/
    position: absolute;
    top:40%;
    left:28%;
}
#ime h1{
    font-size: 90px;
}
#ime h2{
    font-size:60px;
    margin-top:60px;
}
#about{
    padding:20px;
    width: 60%;
    margin:25px auto;
    text-align: center;
}
#about h2{
    font-size:50px;
}
.crta::after{
    content: "";
    width:100px;
    height: 5px;
    display: block;
    margin: 20px auto;
    background-color: blue;
}
#slika{
    width:50%;
    float:left;
    margin-top:40px;
}
#slika img{
    border-radius:50%; 
}
#tekst{
    width:50%;
    margin-top:40px;
    font-size:22px;
    padding:30px;
    float:right;
    text-align: justify;
}
/*Deo SKILLS*/
#skills{
    background-color: #f5f5f5;
    height:400px;
}