@media screen and (max-width:1200px){
    /*Stranica index*/
    
    #naslovna h1{
        padding-top: 45px;
    }
    #levo{
        width:100%;
        float:none;
    }
    #tekst{
        width:100%;
        float:none;
    }
   /* #tekst p{
        font-size:25px;
    }*/
    #sadrzaj{
        width:100%;
    }
    #footOkvir{
        width:100%;
        margin:0px;
    }
    .navfoot ul li{
        margin-right:10px;
        padding-left:10px;
    }
    .navfoot{
        width:100%;
        float: none;
        text-align: center;
    }
    .desno ul{
        text-align: center;
    }
    .desno ul li{
        margin-right: 10px;
    }
    .rezultat{
        padding: 0px;
    }
    /*Stanica Top leagues*/
    .ligatekst{
        width:100%;
        float:none;
       
    }
    .ligaslika{
        float:none;
        width:100%;
       
    }
    /*Stranica Top players*/
    .oIgracu{
        width:100%;
        float:none;
        padding:10px;
        margin:0px;
    }
    /*.oIgracu p{
        font-size:20px;
    }*/
    /*Stranoca Higlights*/
    .high{
        width:45%;
        margin:10px 10px;
    }
    .folija a{
        font-size: 20px;
    }
    #video{
        width:90%;
    }
    .dugme{
        width:60%;
    }
   /*Stranica Contact*/
   #oAutoru{
       width:100%;
       float:none;
       position: static;
   }
   #kontakt{
       width:100%;
       float: none;
       margin:0px;
   }
   #fname,#sname,#email{
       width: 60%;
   }
   textarea{
       width:100%;
   }
}
@media screen and (max-width:500px){
    /*Stranica index*/
    #naslovna h1{
        font-size:40px;
        padding-top: 45px;
    }
    #levo{
        width:100%;
        float:none;
    }
    #tekst{
        width:100%;
        float:none;
    }
   /* #tekst p{
        font-size:35px;
    }*/
    #sadrzaj{
        width:100%;
    }
    #footOkvir{
        width:100%;
    }
    .navfoot ul li{
        margin-right:0px;
    }
    .navfoot{
        width:100%;
        float:none;
    }
    .desno{
        float:none;
    }
    .desno ul{
        text-align: center;
    }
    .rezultat{
        padding: 10px;
    }
    /*Stanica Top leagues*/
    .ligatekst,.ligaslika{
        width:100%;
        float:none;
    }
    /*Stranica Top players*/
    .oIgracu{
        width:100%;
        float:none;
        padding:10px;
        margin:0px;
    }
    /*.oIgracu p{
        font-size:20px;
    }*/
    /*Stranoca Higlights*/
    .high{
        width:100%;
        margin:10px 0px;
    }
    .folija a{
        font-size:20px;
    }
   /*Stranica Contact*/
   #oAutoru{
       width:100%;
       float:none;
   }
   #kontakt{
       width:100%;
       float: none;
       margin:0px;
   }
   #fname,#sname,#email{
       width: 60%;
   }
   textarea{
       width:100%;
   }
   
}
