@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
*{
margin:0;
padding:0;
box-sizing:border-box;
}
body{
	font-family: 'Acme', sans-serif;
	/*background-image:url("../images/led.jpg");*/
	background-color:#eff2f1;
}
img{
	width:100%;
}
ul{
	list-style-type:none;
}
a{
	text-decoration:none;
}
h1{
	text-align:center;
}
#header{
	width:100%;
}
#naslovna{
    background-image:url("../images/Pozadina12.jpg");
	height:250px;
	background-size:cover;
	width:100%;
}
#naslovna a{
	color:white;	
}
#naslovna h1 {
	padding-top:70px;
	font-size:90px;
	color:white;
	/*font-family:Brush Script MT;*/
    font-family: 'Indie Flower', cursive;
	animation-name:fade;
	animation-duration:2s;
}
@keyframes fade{
	from{opacity:0;}
	to{opacity:1;}
}
#nav{
	width:100%;
	background-color:#D2D2D2;
	background-image: linear-gradient(silver, white);
}
#nav ul{
    text-align:center;
}
#nav ul li {
    display:inline-block;
	padding:25px 10px;
}
#nav ul li a {
	font-size:20px;
	color:rgb(0,0,0);
	font-weight:900;
	padding:25px;
}
#nav ul li a:hover{
	background-color:rgb(255,255,255);	
}
#nav .active{
	background-color:#0ebeef;	
}
#sadrzaj{
	width:90%;
	margin:20px auto;
}
#sadrzaj h2{
	text-align:center;
	font-size:30px;
}
#levo{
	width:20%;
	float:left;
}
.aside{
	background-color:#fff;
	margin:20px auto;
	width:100%;
	min-height:300px;
	border:2px solid silver;
	border-radius:5px;
	box-shadow:3px 3px 10px black;
	text-align:center;
}
.aside h2{
	font-size:40px;
	margin-top:15px;
	text-transform:uppercase;
}
.vesti{
	width:90%;
	margin:20px auto;
}
.vesti h3{
	text-align:center;
}
.vesti a{
	color:#000;
}
.vesti a:hover{
	text-decoration:underline;
	color:#0ebeef;
}
#naslovVesti{
    text-align:center;
    margin-bottom:10px;	
	font-size:25px;
}
#tekst{
	width:75%;
    padding:20px 0px;
	float:right;
	margin:0px auto;
	background-color:white;
	border-radius:5px; 
	box-shadow:5px 5px 15px black;
}
#tekst h1{
	font-size:70px;
}
#tekst p{
	font-size:20px;
	padding:20px;
	text-align:justify;
}
.slika{
	width:65%;
	margin:10px auto;
}
#tekst h2{
	font-size:40px;	
	margin:20px;
	text-align:justify;
}
form{
	text-align:center;
	margin-top:20px;
	font-size:18px;
}

#team{
	width:80%;
	border-radius:10px 5px;
	border:3px solid silver;
}
#date{
	width:80%;
	margin-bottom:10px;
	border-radius:10px 5px;
	border:3px solid silver;
}
#team:focus, #date:focus{
	border:3px solid #0ebeef;
}

.cistac{
	clear:both;
}
#footer{
	background-color:#373837;
	width:100%;
	padding:15px 0px;
}
#footOkvir{
	width:80%;
	margin:0px auto;
}
.navfoot{
	float:left;
	width:33%;
	padding:10px 0px;
}
.navfoot ul li{
	display:inline-block;
	margin-right:20px;	
}
.navfoot ul li a{
	color:white;
	font-size:20px;
}
.navfoot ul li a:hover{
	text-decoration:underline;
	color:#0ebeef;
}
.navfoot p{
	text-align:center;
	font-size:20px;
	color:white;
	opacity:0.5;
}
.navfoot a{
	color:#fff;
}
.desno{
	text-align:right;
}
.fa{
	font-size:30px;
}
.fa:hover{
	color:#0ebeef;
}
.rezultat{
	padding:10px;
}
.bold{
	font-weight:bolder;
	
}
/* Players */
.oIgracu{
	text-align:center;
	padding:20px;
	width:45%;
	float:left;
	margin-left:20px;
	margin-bottom:20px;
}
.oIgracu h2{
	margin-top:20px;
}
.oIgracu img{
	border-radius:20px 15px;
}
.oIgracu p{
	margin-top:20px;
	text-align:justify;
}
.desni{
	float:right;
	margin-right:20px;
	margin-left:0px;
}
#igraci{
	background-color:#fff;
}
#topPlayers{
	background-color:white;
	text-align:center;
	font-size:30px;
}
#search{
	width:90%;
	padding:10px;
	font-size:18px;
	text-align:center;
	border-radius:4px;
	border:3px solid silver;
}
/*Top Leagues*/
#leagues{
	width:100%;
	background-color:#fff;
	padding:10px;
	box-shadow:7px 7px 15px black;
	
}
#leagues h1{
	margin-bottom:40px;
	font-size:60px;
}
.league{
	background-color:white;
	margin-bottom:20px;
	padding:20px;
	text-align:center;
	border:2px solid silver;
	border-radius:15px;
}

/*.league h2{
	font-size:30px;
}*/

.ligatekst{
	width:45%;
	float:left;
	margin-top:30px;
	text-align:justify;
	line-height:25px;
}
.ligatekst p{
	margin-top:20px;
}
.ligaslika{
	width:50%;
	margin:20px auto;
	margin-bottom:0px;
	float:right;
}
/*Contact*/
#oAutoru{
	width:30%;
	text-align:center;
	border:2px solid silver;
	padding:20px;
	font-size:20px;
	float:left;
	position:relative;
	top:130px;
	border-radius:10px 30px;
	left:100px;
	
}
#kontakt{
	float:right;
	width:40%;
	margin:40px;
	padding:10px;
}
#oAutoru img{
	width:200px;
}
fieldset{
	border:2px solid #a9a9aa;
	padding:10px;
	border-radius:10px 30px;
}
legend{
	font-size:25px;
}
#fname,#sname,#email{
	border-radius:10px 5px;
	border:3px solid silver;
	width:50%;
	margin-bottom:15px;
	padding:10px;
}
label{
	margin:20px;
}
textarea{
		font-family: 'Acme', sans-serif;
		margin-top:20px;
		padding:20px;
		border:3px solid silver;
		border-radius:10px 5px;
}
.dugme{
	margin-top:20px;
	padding:10px;
	width:40%;
	border-radius:10px;
	font-size:22px;
	font-family:'Acme', sans-serif;
	background-color:#d1d1d1;
}
.dugme:hover{
	background-color:#0ebeef;
}
.dugme:active{
	margin-top:30px;
}
/*Highlights*/
.highlights{
	display:flex;
	flex-flow:row wrap;
	justify-content:space-around;
	width:90%;
	padding:10px;
	margin:10px auto;
}
.high{
	width:30%;
	margin:10px;
	position:relative;
}
.high img{
	border-radius:10px;
}
#video{
	margin:10px auto;
	width:80%;
	height:800px;
}
iframe{
	width:100%;
	height:800px;
}
.folija{
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	background-color:rgba(25,25,25,0.5);
	height:100%;
	overflow:hidden;
	width:0;
	border-radius:10px;
	transition:0.5s;
}
.folija a{
	font-size:30px;
	white-space:nowrap;
	color:white;
	position:absolute;
	top:50%;
	left:40%;
	transform: translate(-30%, -50%);
}
.high:hover .folija{
	width:100%;
}
.vazno{
	color:#0ebeef;
	font-style:italic;
}
/*Vesti*/
#news{
	background-color:#fff;
	padding:10px;
}
#news h1{
	font-size:60px;
}
.vest{
	width:90%;
	margin:4% auto; 
}
.vest h2{
	text-align:center;
	font-size:40px;
	margin-bottom:20px;
}
.vest p{
	text-align:justify;
	font-size:20px;
	margin:10px;
}